.main-title {
  font-size: 144px;
  line-height: 1;
  text-transform: uppercase;
  font-family: $secondary-font-bold;
}

.secondary-title {
  font-size: 120px;
}

.text {
  line-height: 1.8;

  &--center {
    text-align: center;
  }

  &--transparent {
    color: $secondary-text-color
  }

  &--dark {
    color: $dark-color
  }

  &--white {
    color: #fff;
  }
}
